.mainWrapper {
  position: static;
  height: 100vh;
  background-image: url("../assets/appBg.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  z-index: -1;
  padding: 0.5em;
}

.mainWrapper:after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.paper {
  margin: auto;
  max-width: 500px;
  min-width: 305px;
  position: relative;
  z-index: 1;
}
